 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

.navbar{
    /* margin-top: 10px; */
      margin-left: 2.5%;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#D8CFBC;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 95%;
    height: 130px;
} 

.navbar .navleft{
    width: 50%;
    height: auto;
}

.navbar .navright{
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .navbar .navleft img{
    width: 242px;
    margin-left: 150px;
    margin-top: 20px;
} */

.navbar .navright #select{
    height: 20%;
    width: 45%;
    border-radius: 5px;
    background-color: #D8CFBC;
    margin-right: 8.5vw;
}

/* .navbar .navright img{
    display: flex;
    margin-right: 45%;
    justify-content: start;
    width: 242px;
    margin-left: 100px;
    margin-top: 20px;
    left: 50%;
} */

.navbar .navleft{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;

}

.navbar .navleft #logo{
    width: 150px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    margin-top: -8px;
    margin-left: 7.5vw;
}


.container{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    padding-top: 45px;
    /* margin-top: 10px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color:#565449 ;
    padding-bottom: 25px;
}

.card{
    width: 25%;
    height: 600px;
    border-radius: 15px;
    object-fit: cover;
}

img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
}

.card h1{
    color: white;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 15px;
    margin-top: 10px;
}

.card h2{
    color: #c6bba3;
    font-size: 13.5px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.card p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 5px;
} 

.container .card #img-3{
    margin-bottom:5px;
}

/* Media query */

@media (max-width : 1155px) {
    .card{
        width: 35%;
        height: 700px;
    }

    img{
        height: 600px;
    }

    .navbar .navleft #logo{
        margin-left: 10.5vw;
    }

    .navbar .navright #select{
        margin-right: 11.5vw;
    }
}
@media (max-width : 1024px) {
    #select{
        width: 60%;
    }
    .navbar .navleft h1{
        margin-left: 65px;
    }
}
@media (max-width : 850px) {
    .card{
        width: 50%;
    }
    .container{
        width: 95%;
        margin-left: 2.5%;
    }

    .navbar .navright #select{
        width: 50%;
        margin-right: 3vw;
    }
    .navbar .navleft #logo{
        margin-left:3vw;
    }
}
@media (max-width : 740px) {
    /* .card{
        width: 70%;
    } */
    /* .container{
        width: 95%;
        margin-left: 2.5%;
    } */
    #select{
        width: 70%;
    }
    .navbar .navleft h1{
        margin-left: 75px;
    }
}
@media (max-width : 650px) {
    .card{
        width: 60%;
    }
}

@media (max-width : 522px) {
    .card{
        width: 85%;
        height: 750px;
    }

    img{
        height: 650px;
    }
    #select{
        width: 100%;
        margin-right: 40px;
    }
    .navbar .navleft h1{
        margin-left: 45px;
    }
}
@media (max-width : 475px) {
    #select{
        width: 100%;
        margin-right: 25px;
    }
    .navbar .navleft h1{
        margin-left: 25px;
    }
}
@media (max-width : 400px) {
    .navbar .navleft h1{
        font-size: 30px;
    }
}
@media (max-width : 373px) {
    .card{
        width: 95%;
    }

    .container{
        padding-top: 10px;
    }
    #select{
        width: 100%;
        margin-right: 15px;
    }
    .navbar .navleft h1{
        margin-left: 15px;
    }
}
@media (max-width : 320px) {
    .card{
        width: 95%;
    }
    .container{
        width: 95%;
        margin-left: 2.5%;
    }
    #select{
        width: 100%;
        height: 42px;
        margin-right: 5px;
    }
    .navbar .navleft h1{
        margin-left: 5px;
        font-size: 28px;
    }
}
@media (max-width : 287px) {
    .card{
        width: 95%;
    }
    .container{
        width: 95%;
        margin-left: 2.5%;
    }
    #select{
        width: 100%;
        height: 42px;
        margin-right: 5px;
    }
    .navbar .navleft h1{
        margin-left: 5px;
        font-size: 28px;
    }
}